.card {
  border-radius: 0px !important;
}

.card .inner {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  display: grid;
  align-items: center;
  text-align: center;
  color: white;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) !important;
  display: none;
}

.card .inner p {
  transform: translateY(400%);
}

.card:hover>.inner {
  display: block !important;
}

/* ::placeholder {
  color: black !important;
} */
.searchForm {
  background-color: rgb(255, 255, 255);
  /* backdrop-filter: blur(10px); */
}

label {
  color: coral;
}

.col-sm-3 .card {
  transition: .3s;
  border-radius: 10px !important;
}

.col-sm-3 .card:hover {
  box-shadow: 0px 10px 19px 9px rgba(0, 0, 0, 0.1);
}

::placeholder {
  font-size: small !important;
}